/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# macOS system files
.DS_Store
**/.DS_Store

# Laravel Mix
/public/css
/public/js
/public/mix-manifest.json

# Images
/public/images/produtos/*
/public/images/marcas/*
!/public/images/produtos/.gitkeep
!/public/images/marcas/.gitkeep

# Backups
*.zip
*.sql
*.gz
